@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 320px)  {

    .logo {
	    margin-top: 8%;
    }

    img {
	    width: 200px;
	    height: 82px;
    }

    .btnsearch {
	    font-size: 12px;
    }

    input[type="text"]{
      font-size: 14px;
	    border-radius: 3px;
	    height: 42px;
    }

    .languages ul {
	    margin-top: 0;
    }

    .languages ul li a {
	     font-size: 12px;
    }

    .footr ul li {
	    padding: 5px;
}

    .footr ul li a {
	    font-size: 12px;
    }
}

@media screen and (max-width: 420px)  {

    .logo {
	    margin-top: 8%;
    }

    img {
	    width: 200px;
	    height: 82px;
    }

    .btnsearch {
	    font-size: 12px;
    }

    input[type="text"]{
      font-size: 14px;
	    border-radius: 3px;
	    height: 32px;
    }

    .languages ul {
	    margin-top: 0;
    }

    .languages ul li a {
	    font-size: 12px;
    }

    .footr ul li {
	    padding: 5px;
}

    .footr ul li a {
    }
}
